<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="https://ros.org/wiki/xacro">
  <!-- refrence: https://gramaziokohler.github.io/compas_fab/latest/examples/03_backends_ros/07_ros_create_urdf_ur5_with_measurement_tool.html
    Here we define the 2 parameters of the macro -->
  <xacro:macro name="mount" params="prefix connected_to">
    <!-- Create a fixed joint with a parameterized name. -->
    <joint name="${prefix}mount_joint" type="fixed">
      <!-- The parent link must be read from the robot model it is attached to. -->
      <parent link="${connected_to}" />
      <child link="${prefix}mount" />
      <!-- The mount is posiontin in reltaion to the flange. -->
      <origin rpy="-1.57079633 0 -0.785398163" xyz="0 0 0" />
    </joint>
    <link name="${prefix}mount">
      <visual>
        <geometry>
          <!-- The path to the collision meshes in the package. NOTE: mesh must be imported in metres, else
          use the "scale" param to compensate-->
          <mesh filename="package://ur_description/meshes/mount.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <!-- The path to the collision meshes in the package. NOTE: mesh must be imported in metres, else
          use the "scale" param to compensate-->
          <mesh filename="package://ur_description/meshes/mount.stl" scale="0.0012 0.0012 0.0012" />
        </geometry>
        <material>
          <color rgba="0 0 0 0" />
        </material>
      </collision>
    </link>
  </xacro:macro>
</robot>