<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_cam">
  <xacro:macro name="ur5_cam" params="prefix">
    <!--
      Macro for creating an urdf file for an ur5 with a cam on it
  -->
    <xacro:include filename="$(find ur_description)/urdf/inc/ur5_macro.xacro" />
    <xacro:include filename="$(find ur_description)/urdf/inc/b_and_r_cam_macro.xacro" />
    <xacro:include filename="$(find ur_description)/urdf/inc/mount_macro.xacro" />

    <!-- Use the macro for an ur5 robot and name it -->
    <xacro:ur5_robot prefix="${prefix}" />

    <!-- Use the macro for a mount, Specify where the mount is connected to the ur5 -->
    <xacro:mount prefix="${prefix}" connected_to="${prefix}tool0" />

    <!-- Use the macro for a camera, Specify where the camera is connected to the mount -->
    <xacro:b_and_r_cam prefix="${prefix}" connected_to="${prefix}mount" />

  </xacro:macro>
</robot>