<?xml version="1.0"?>
<launch>

  <group ns="ur5_cam">
    <!-- Load ur5_cam controllers -->
    <remap from="joint_states" to="/joint_states"/>
    <include
      file="$(find ur_description)/launch/ur5_cam_bringup.launch">
      <arg name="robot_ip" value="192.168.87.110" />
      <arg name="reverse_port" value="50001" />
      <arg name="script_sender_port" value="50002" />
      <arg name="trajectory_port" value="50003" />
    </include>
  </group>

  <group ns="ur5_light_bar">
    <!-- Load ur5_light_bar controllers -->
    <remap from="joint_states" to="/joint_states"/>
    <include
    file="$(find ur_description)/launch/ur5_light_bar_bringup.launch">
    <arg name="robot_ip" value="192.168.87.136" />
    <arg name="reverse_port" value="50004" />
    <arg name="script_sender_port" value="50005" />
    <arg name="trajectory_port" value="50006" />
    </include>
  </group>
</launch>